<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Course Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/label_template.css' />
    <link rel='stylesheet' href='/stylesheets/mdi/css/materialdesignicons.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  </head>
  <body class="header-fixed">

  	<!-- nav bar -->
    <% include partials/nav.ejs %>
    <!-- End of Navbar -->

    <!-- Main Content -->
  	<div class="page-body">

      <!-- side bar -->
      <%- include('./partials/sidebar', { cid: cid }); %>
      <!-- End of Sidebar -->

      <!-- Right Box -->
      <div class="page-content-wrapper">
        <!-- Content -->
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
              <div class="topnav">
                  <div class="title">Forum entries for "<%= f_topic %>"</div>
              </div>
              <br>
                <% if (entries.length == 0) { %>
                <h4>There are no entries in this forum.</h4>
                <br>
                <% } else { %>
                <form id="html_form" role="form" method="post">
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">User ID:</th>
                          <th scope="col">Name:</th>
                          <th scope="col">Entry:</th>
                          <th scope="col">Posted On:</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i = 0; i < entries.length; i++) { %>
                        <tr>
                          <td><%= entries[i].u_id %></td>
                          <td><%= entries[i].u_name %></td>
                          <td><%= entries[i].e_content %></td>
                          <td><%= entries[i].e_datetime %></td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                </form>
                <% } %>
                <div class="topnav">
                    <div class="title">Write new entry</div>
                </div>
                <br>
                <% if (messages.error) {%>
                <div class="alert alert-danger">
                    <%= messages.error %>
                </div>
                <% } else if (messages.success) { %>
                <div class="alert alert-success">
                    <%= messages.success %>
                </div>
                <% } %>
                <form id="html_form" action="/course/<%= cid %>/forum/<%= f_topic %>/<%= f_datetime %>/entries/post"" role="form" method="post">
                    <div class="form-group">
                        <label for="e_content">Content:</label>
                        <input type="text" maxlength="1000" class="form-control" id="e_content" name="e_content" placeholder="Enter content">
                    </div>
                    <button type="submit" class="btn btn-primary">Post entry</button>
                </form>
              </div>
            </div>
            <!-- put your stuff here -->
          </div>
        </div>
        <!-- End of Content -->

        <!-- Footer -->
        <% include partials/footer.ejs %>
        <!-- End of Footer -->
      </div>
      <!-- End of Right Box -->

    </div>
    <!-- End of Main Content -->

    <!-- Additional Javascript -->
    <script src="javascripts/label_template.js"></script>
  </body>
</html>
