<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Course Search</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/label_template.css' />
    <link rel='stylesheet' href='/stylesheets/mdi/css/materialdesignicons.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  </head>
  <body class="header-fixed">

  	<!-- nav bar -->
    <% include partials/nav.ejs %>
    <!-- End of Navbar -->

    <!-- Main Content -->
  	<div class="page-body">

      <!-- side bar -->
      <% include partials/sidebar.ejs %>
      <!-- End of Sidebar -->

      <!-- Right Box -->
      <div class="page-content-wrapper">
        <!-- Content -->
        <div class="page-content-wrapper-inner">
          <div class="content-viewport">
            <div class="row">
              <div class="col-12 py-5">
                <h4>Search Results for "<%= searchPhrase %>":</h4>
                <!--<p class="text-gray">Welcome aboard, User</p>-->
                <% if (dataNum > 0) { %>
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">CID</th>
                      <th scope="col">Course Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < datarows.length; i++) { %>
                    <tr class='clickable-row' data-href='/course/<%= datarows[i].c_id %>'>
                      <th scope="col"><%= i+1 %></th>
                      <th scope="col"><%= datarows[i].c_id %></th>
                      <th scope="col"><%= datarows[i].c_name %></th>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
                <% } else { %>
                <p>No Results found!</p>
                <% } %> 
              </div>
            </div>
          </div>
        </div>
        <!-- End of Content -->

        <!-- Footer -->
        <% include partials/footer.ejs %>
        <!-- End of Footer -->
      </div>
      <!-- End of Right Box -->

    </div>
    <!-- End of Main Content -->

    <!-- Additional Javascript -->
    <script src="/javascripts/label_template.js"></script>
    <script src="/javascripts/search.js"></script>
  </body>
</html>
